<!DOCTYPE html>
<!-- xmlns = xml name sapce(nombre de espacio xml) para poder usar las etiquetas del Thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- tag va a remover las etiquetas que no necesito y solo va a dejar lo de adentro del div-->
<div th:fragment="pie-pagina-seccion" th:remove="tag">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous">
    </script>
</div>