# Node
/seccion22/inventarios-app/node_modules
/seccion23/recursos-humanos-app/node_modules
/Universidad-Java-con-NetBeans/seccion25/MundoPc/nbproject/private/
/Universidad-Java-con-NetBeans/seccion25/MundoPc/build/
/seccion24-25-26-27-Universidad-Java-con-NetBeans/seccion26/CatalogoPeliculas/nbproject/private/
/seccion24-25-26-27-Universidad-Java-con-NetBeans/seccion27/ManejoJDBC/nbproject/private/
